body{
  
    margin:0px;
    padding:0px;
}
.container{
    
    width:1300px;
    height:500px;
    display:flex;
    margin:5px 50px;
    flex-wrap: wrap;
    margin-left: 100px;
    justify-content: space-evenly;
    
}
.health{
        
   margin-left:40px;
    margin-top:50px; 
    text-align:center;
     margin-left:120px;
    color:#00E0C7;
}
.card{
    height:200px;
    width:300px;
    background-color: #00E0C7;
    margin:20px 20px;
    margin-left: 50px;
    border-radius: 10px;
   
    

}

.card-image{
    height:40px;
    width:40px;
    margin-left:120px;
    margin-top:8px;
}
.card-name{
    
    color:#000;
    margin-top:-1px;
    text-align: center;
}
.card-name1{
    color:#000;
    margin-left:60px;
  margin-top:-1px;
}
.card:hover{
    box-shadow:2px 3px 5px 2px #009394;
}
.info{
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left:8px;
    color:#fff;
    text-align: center;
    
}
    .pic{
    height:450px;
    width:1500px;
    margin:0px 10px;
   
}
