body{
    background-color: #0ABAB5;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 60px;
      background: #fff;
      position: fixed;
      top: 0;
      left: 0;
      width: 92%;
      z-index: 1000;
    }
    .navbar img {
      height: 50px;
      margin-left: 15px;
      width: 50px;
      border-radius: 50%;
    }
    .navbar .logo {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 30px;
      font-weight: bold;
      color: #0abab5;
      margin-right: 250px;
    }
    .navbar .logo span {
      color: #0abab5;
      font-weight: bold;
      font-size: 28px;
    }
    .navbar ul {
      list-style: none;
      display: flex;
      gap: 35px;
    }
      .navbar .contact-btn {
      background: orange;
      padding: 10px 20px;
      border-radius: 5px;
      color: #fff;
      text-decoration: none;
      font-weight: bold;
    }

    .navbar .contact-btn:hover {
      background: #0097a7;
    }

    .navbar ul li a {
      text-decoration: none;
      color: #333;
      font-weight: 500;
      transition: color 0.3s;
    }
    .navbar ul li a:hover {
      color: #0abab5;
    }
    .navbar .contact-btn {
      background: orange;
      padding: 10px 20px;
      border-radius: 5px;
      color: #fff;
      text-decoration: none;
      font-weight: bold;
    }
    .navbar .contact-btn:hover {
      background: #0097a7;
    }

    @media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 15px 20px;
    width: 100%;
  }

  .navbar .logo {
    margin: 0 auto 15px auto;
    font-size: 25px;
  }

  .navbar ul {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .navbar ul li {
    width: 100%;
  }

  .navbar ul li a {
    display: block;
    padding: 10px;
  }

  .navbar .contact-btn {
    margin: 10px auto;
  } }