 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0e1313ff
  padding: 45px 40px;
  color: #43cacaff;
}

.navbar .logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.navbar .logo img {
  width: 60px;
  height: 40px;
  margin-right: 40px;
  border-radius: 50%;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #040a0aff;
  font-weight: 500;
  transition: 0.3s;
}

.navbar ul li a:hover {
  color: orange;
}

.contact-btn {
  background: orange;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
}

.contact-btn:hover {
  background: #e67e22;
}
.appointment {
  background: #18c0aaff;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
}

.appointment .container {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  max-width: 700px;
  width: 100%;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.appointment h1 {
  margin-bottom: 10px;
  color: #030508ff;
}

.subtitle {
  margin-bottom: 20px;
  color: #555;
}

.appointment-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  gap: 15px;
}

.form-group input, 
.form-group select {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.btn.green {
  background: #28a745;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn.green:hover {
  background: #218838;
}
.site-footer {
  color: #141010ff;
  padding: 15px;
  text-align: center;
  margin-top: 5px;
}
